{% extends 'base.html' %}
{% block content %}

<h1>Phi List</h1>

{% for phi in phis %}
  <a href="{% url 'detail' phi.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ phi.name }}</span>
            <p>Breed: {{ phi.breed }}</p>
            <p>Description: {{ phi.description }}</p>
            {% if phi.age > 0 %}
                <p>Age: {{ phi.age }}</p>
            {% else %}
                <p>Age: N/A</p>
            {% endif %}
        </div>
    </div>
  </a>
{% endfor %}

{% endblock %}